<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="com.techcarver.entity.Student" id="studentObj1">
		<constructor-arg name="id" value="1" type="int"></constructor-arg>
	</bean>

	<bean class="com.techcarver.entity.Student" id="studentObj2">
		<constructor-arg name="name" value="Tech carver" type="java.lang.String"></constructor-arg>
	</bean>

	<bean class="com.techcarver.entity.Student" id="studentObj3">
		<constructor-arg name="id" value="1"></constructor-arg>
		<constructor-arg name="name" value="Tech carver"></constructor-arg>
	</bean>

</beans>


